<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.restapiserver.ragnarok.mapper.DataMapper">
    <insert id="imgmodel">
        <![CDATA[
        insert into srcdb2 (ID, Data)
        values (#{idx}, #{img})
        ]]>
    </insert>
</mapper>